<div class="entry">

    <body style="background-color:powderblue;"></body>
    <font size="7" face="avenir" color="black">
        <center><b>About Us</b></center>
    </font>
    <div>
        <br> <br>
    </div>
    <div class="body">
        <font size="5" face="avenir" color="black">
            <center>Our purpose is to bring dogs and people together.</center>
        </font>
    </div>
    <div>
        <br> <br>

        <center><img src="https://thedogtrainingsecret.com/blog/wp-content/uploads/2012/10/sqinty.jpg"
                     alt="Dog petting"></center>
        <br> <br>
    </div>
    <div class="body">
        <font size="7" face="avenir" color="black">
            <center><b>How does it work?</b></center>
        </font>
    </div>
    <div>
        <br> <br>
    </div>
    <div class="body">
        <font size="5" face="avenir" color="black">
            <center>Dog owners who want others to pet their dog(s) register on our site.
                Using location tracking, others are able to find nearby dogs to pet. Animal therapy has been
                <a href="http://time.com/4728315/science-says-pet-good-for-mental-health/">scientifically proven</a> to
                reduce
                stress and improve mental health. Our hope is for this to bring joy to dog owners, dog petters, and dogs
                alike!
            </center>

        </font>
    </div>
    <br> <br>
    <br> <br>
    <font size="7" face="avenir" color="black">
        <center><b>Who are we?</b></center>
    </font>
    <br> <br>
    <div>
        <div class="body">
            <font size="5" face="avenir" color="black">
                <center>We are a group of college students participating in <a
                        href="https://pearlhacks.com/index.html">Pearl Hacks</a> 2019 at UNC Chapel Hill.
                </center>
            </font>
        </div>
    </div>
</div>