<div class = "entry">
<center><h1 style="font-family:Cochin"; style="font-size: 400%" >Welcome to DogFinder!</h1></center>
<center><div style="font-family: Avenir"; style="font-size: 200%">
This website connects you to a nearby dog.
</div></center>
</div>

<p></p>

<div><center>
<img src="https://nau.edu/uploadedImages/Staging/Health_Promotions/Stress_and_Depression/dog%20petting.jpg" alt="Dog petting image"/>
</center></div>

<p></p>


<head>

<style>
.button {
background-color: rgba(105, 224, 240, 0.8);
border: none;
color: white;
padding: 15px 25px;
text-align: center;
font-size: 16px;
cursor: pointer;
}

.button:hover {
background-color: rgba(100, 236, 250, 0.48);
}
</style>
</head>

<p></p>

<div>
    &nbsp;&nbsp;
</div>

<center><a href="login" class="button">Login</a></center>

<p></p>

<div>
    &nbsp;&nbsp;
</div>

<center><a href="signup" class="button">Signup</a></center>