<div class = "entry">
    <body style="background-color:powderblue;"></body>
    <center><div style="font-family:Avenir"><font size="8" ><b>Welcome to DogFinder!</b></font>
    </div></center>

    <p></p>

<center><div style="font-family:Avenir"><font size = "5">
    Looking for a puppy to pet? You're in the right place! </font>
        </div></center>


<p></p>

<div><center>
    <img src="https://nau.edu/uploadedImages/Staging/Health_Promotions/Stress_and_Depression/dog%20petting.jpg" alt="Dog petting image"/>
</center></div>

<p></p>


<head>

    <style>
        .button {
            background-color: rgb(240, 244, 255);
            border: none;
            color: #000000;
            padding: 15px 25px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
        }

        .button:hover {
            background-color: rgb(244, 252, 255);
        }
    </style>

</head>

<p></p>

<div>
&nbsp;&nbsp;
</div>

<center><a href="login" class="button">Login</a></center>

<p></p>

<div>
    &nbsp;&nbsp;
</div>

<center><a  href="signup" class="button">Signup</a></center>

    <p></p>

    <div>
        &nbsp;&nbsp;
    </div>

    <center><a  href="aboutus" class="button">About Us</a></center>


