<body style="background-color:lightblue;">
<script>
    function getData(){
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        console.log("username", username);
        console.log("password", password);
    }
</script>
<center><h1 style="font-family: Avenir; color:rgb(85, 50, 0)">Log in to Meet Dogs Now</h1></center>
<div> 
    <body style="font-size:200%; font-family:Avenir; color:rgb(85, 50, 0)">Username: </body>
    <input type="text" id="username"></input>
</div>
<div>
    <body style="font-size:200%; font-family:Avenir; color:rgb(85, 50, 0)">Password: </body>
    <input type="password" id="password">
</div>
<div>
</div>
<div>
    <button OnClick="getData()" style="background-color:rgb(255, 145, 190)">Login</button>
</div>
</body>
<nav>
    <br><br><br>
    <center><a href="signup" class="button"><front color="purple">Don't Have an Account? Sign Up!</front></a></center>
    <center><a href="aboutus" class="button"><font color="purple">Learn More About Us</font></a></center>
    <center><a href="/" class="button"><font color="purple">Back to Home</font></a></center>
</nav>