<body style="background-color:lightblue;">
<script>
    function getData(){
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        console.log("username", username);
        console.log("password", password);
    }
</script>
<h1 style="font-family: Avenir">Please Log in for the Doggos</h1>
<div>
    <body style="font-size:200%; font-family:Avenir">Username</body>
    <input type="text" id="username"></input>
</div>
<div>
    <body style="font-size:200%; font-family:Avenir">Password </body>
    <input type="password" id="password">
</div>
<div>
</div>
<div>
    <button OnClick="getData()" style="background-color:rgb(255, 145, 190)">Login</button>
</div>
</body>