<div>
    <a href="index" class="button"><font color="purple">Back to Home</font></a>
  </div>
<div class="entry">
    <body style="background-color:powderblue;"></body>
  <font size="7" face="avenir" color="purple"><center><b>Need puppy cuddles to destress? Signup for Dog Finder!</b></center></font>
  <div>
      &nbsp;&nbsp;
  </div>
  <div class="body">
    <font size="5" face="avenir" color="purple">Create an account to get connected with dogs in your area:</font>
  </div>
  <div>
      &nbsp;&nbsp;
  </div>
  <div>
      <font color="purple">First Name:</font>
    <input type="text" id="First Name">
  </div>
<div>
     <font color="purple">Last Name:</font>
<input type="text" id="Last Name">
</div> 
<div>
     <font color="purple">Phone Number:</font>
<input type="text" id="Phone number">
</div>  
<div>
     <font color="purple">Dog Owner?</font>
<input type="checkbox" id="Dog Owner">
</div>
<div>
    <font color="purple">Dog Seeker?</font>
<input type="checkbox" id="Dog Seeker">
</div>
<div>
     <font color="purple">Username:</font>
    <input type="text" id="username">
</div>
    <div>
         <font color="purple">Password:</font>
         <input type="password" id="password">
    </div>
  <div>
    <button onClick="getData()">Register</button>
  </div>
  
</div>